<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header><%- include('./components/nav.ejs') %></header>

    <main>
      <div class="cart">
        <h1><i class="fa-solid fa-cart-shopping"></i> Cart</h1>
        <div class="cart-container"></div>
      </div>

      <div class="container">
        <% if (products && products.length > 0) { %>
        <div class="row mt-5" id="filter-buttons">
          <div class="col-12">
            <button class="btn mb-2 me-1 active" data-filter="all">
              Show all
            </button>
            <% products.reduce((acc, product) => { if
            (!acc.includes(product.category)) { acc.push(product.category); }
            return acc; }, []).forEach(category => { %>
            <button class="btn mb-2 mx-1" data-filter="<%= category %>">
              <%= category %>
            </button>
            <% }); %>
          </div>
        </div>

        <div class="row px-2 mt-4 gap-3" id="filterable-cards">
          <% products.forEach(product => { %>
          <div class="col-md-4">
            <div class="card p-0" data-category="<%= product.category %>">
              <img src="<%= product.images[0] %>" alt="<%= product.name %>" />
              <div class="card-body">
                <h6 class="card-title"><%= product.name %></h6>
                <p class="card-text">
                  <%= product.price %> <i class="fa-solid fa-dollar-sign"></i>
                </p>
                <button onclick="addToCart(this)">add to cart</button>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <% } else { %>
        <div class="row">
          <div class="col-12">
            <p class="p-5">No products available.</p>
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <%- include('./components/footer.ejs') %>

    <script>
      // Select relevant HTML elements
      const filterButtons = document.querySelectorAll("#filter-buttons button");
      const filterableCards = document.querySelectorAll(
        "#filterable-cards .card"
      );

      // Function to filter cards based on filter buttons
      const filterCards = (e) => {
        document
          .querySelector("#filter-buttons .active")
          .classList.remove("active");
        e.target.classList.add("active");

        filterableCards.forEach((card) => {
          // show the card if it matches the clicked filter or show all cards if "all" filter is clicked
          if (
            card.dataset.category === e.target.dataset.filter ||
            e.target.dataset.filter === "all"
          ) {
            return card.classList.replace("hide", "show");
          }
          card.classList.add("hide");
        });
      };

      filterButtons.forEach((button) =>
        button.addEventListener("click", filterCards)
      );
    </script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>
